{% extends "base_generic.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
 {% for dish in favorites_list %}
 <div class="col">
   <div class="card">
     <img src="{{ dish.dish.img.url }}" alt="..." width="200">
     <div class="card-body">
       <h5 class="card-title">{{ dish.dish.title }}</h5>
       <p class="card-text">{{ dish.dish.summary }}</p>
       <p>{{ dish.dish.user }}</p>
       <p>{% for category in dish.dish.category.all %} {{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
       <p>{{ dish.dish.cooking_time }}</p>
       <p>{{ dish.dish.price}}</p>
       {% if user.is_authenticated %}
       {% include 'user_profile/favorites.html' with dish_id=dish.dish.id %}
       {% endif %}
     </div>
   </div>
 </div>
  {% endfor %}
</div>
{% endblock %}
